@import "variables";

@mixin items-wrapper($size) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 23%;
  height: $size;
  margin: 1%;
  padding: 11px;
  background: $background-color-item;
}

@mixin items-input($size) {
  width: $size;
  padding: 3px 6px;
  border: 1px solid $border-color;
  border-radius: 3px;

  &:hover {
    border: 1px solid #e31515;
  }

  &:focus {
    border: 1px solid #154fe3;
  }
}

@mixin items-tbn {
  width: 50%;
  height: 20px;
  border: 1px solid $border-color;
  border-radius: 3px;

  &:hover {
    background: #e8e5e1;
  }
}

@mixin items-icon-btn($h-size, $w-size, $hover-color) {
  height: $h-size;
  width: $w-size;
  fill: #000;

  &:hover {
    fill: $hover-color;
  }

}